@import url(./buttons-css/buttons.css);
@import url(./input-css/input.css);
@import url(./navigation-bar/nav-bar.css);
@import url(./type-of-content-block/type-of-content.css);

.html{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.h3{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0px;
    background-color: #f0f3fa;
}

.main{
    display: flex;
    justify-content: center;
}

.content-block{
    width: 1200px;
    height: 500px;
}

.task-container{
    width: max-content;
    height: max-content;
}
.create-task-container{
    background-color: #ffffff;
    margin-top: 40px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 20px;
}

.new-task-text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 38, 37);
    margin: 0px;
}

.input-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.type-of-content-block{
    display: flex;
    justify-content: space-between;
    
}

.backlog-block{
    margin: 0px;
    width: 270px;
    padding-left: 0px;
    list-style: none;
}
.name-of-backlog-block{
    font-family: Arial, Helvetica, sans-serif;
    color: #86858a;
    padding-inline: 15px;
    padding-top: 8px;
    text-align: center;
    width: max-content;
    height: 30px;
    background-color: #e3e3e3;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color:#e3e3e3;
}

.in-processing-block{
    margin: 0px;
    width: 270px;
    padding-left: 0px;
    list-style: none;
}

.name-of-processing-block{
    font-family: Arial, Helvetica, sans-serif;
    color: #8386d2;
    padding-inline: 15px;
    padding-top: 8px;
    text-align: center;
    width: max-content;
    height: 30px;
    background-color: #d4e1ff;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #dbe5fd;
}

.done-block{
    margin: 0px;
    width: 270px;
    padding-left: 0px;
    list-style: none;
}
.name-of-done-block{
    font-family: Arial, Helvetica, sans-serif;
    color: #8eb884;
    padding-inline: 15px;
    padding-top: 8px;
    text-align: center;
    width: max-content;
    height: 30px;
    background-color: #ccf6cc;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccf6cc;
}

.basket-block{
    margin: 0px;
    width: 270px;
    padding-left: 0px;
    list-style: none;
}

.name-of-basket-block{
    font-family: Arial, Helvetica, sans-serif;
    color: #b1696d;
    padding-inline: 15px;
    padding-top: 8px;
    text-align: center;
    width: max-content;
    height: 30px;
    background-color: #f4d9d9;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #f4d9d9;
}







