.name-of-task-block{
    font-family: Arial, Helvetica, sans-serif;
    color: #86858a;
    padding-inline: 15px;
    padding-top: 8px;
    text-align: center;
    width: max-content;
    height: 30px;
    background-color: #e3e3e3;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color:#e3e3e3;
}

.task-block{
    margin: 0px;
    width: 270px;
    padding-left: 0px;
    list-style: none;
}

.task-li{
    height: 55px;
    margin-top: 8px;
    padding-left: 15px;
    background-color: #ffffff;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #626262;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
}