.name-of-task-block{
    font-family: Arial, Helvetica, sans-serif;
    color: #86858a;
    padding-inline: 15px;
    padding-top: 8px;
    text-align: center;
    width: max-content;
    height: 30px;
    background-color: #e3e3e3;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color:#e3e3e3;
}

.task-block{
    margin: 0px;
    width: 270px;
    padding-left: 0px;
    list-style: none;
}